*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.register--wrap{
  width: 100%;
  height: 100vh;
  display: flex;
}

.hero--wrap{
  width: 70%;
  padding: 30px;
}

.hero--wrap > img{
  padding: 30px 0 ;
  width: 100%;
  height: auto;
}



.wrap--fromregis{
  width: 50%;
  height:auto;
  display: flex;
  align-items: center;
  align-items: center;
  padding-left: 0;
}

.wrap--fromregis > form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 15px 0;
}


.input--wrap{
  display: flex;
  flex-direction: column;
  line-height: 2px;
  margin-bottom: 10px;
}

.input--wrap input{
  width: 100%;
  height: 25px;
  border-radius: 4px;
  border: 0.2px solid #666;
  padding: 15px 10px;
}

.submit--regis{
  border-radius: 4px;
  background-color: #0D28A6;
  color: #fff;
  padding: 7px 0px;
  outline: auto;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.submit--login--google{
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #666;
  color: #000;
  padding: 7px 0px;
  font-size: 14px;
  font-weight: 400;
}

form .to--login {
  text-align: center;
  font-size: 12px;
}

@media only screen and (max-width: 1055px){
  .wrap--fromregis > form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
  }

  .hero--wrap > img {
    padding: 30px 0;
    width: 95%;
    height: 50%;
}
}
@media only screen and (max-width: 420px){
  .wrap--fromregis {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    align-items: center;
    padding-left: 0;
}
  .wrap--fromregis > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
  }

  .register--wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

  .hero--wrap {
    width: 0;
    padding: 0;
}

  .hero--wrap > img {
    padding: 0;
    width: 0;
    height: 0;
}
}


@media only screen and (max-width: 1286px){
  .wrap--fromregis > form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
    
  }

  .hero--wrap > img {
    padding: 30px 0;
    width: 100%;

    
}
.wrap--fromregis {
  width: 50%;
  height: 70%;
  display: flex;
  align-items: center;
  align-items: center;
  padding-left: 0;
}
}
@media only screen and (max-width: 912px){
  .wrap--fromregis > form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
  }

  .hero--wrap > img {
    padding: 30px 0;
    width: 100%;
   

    
}
.wrap--fromregis {
  width: 50%;
  height: 70%;
  display: flex;
  align-items: center;
  align-items: center;
  padding-left: 0;
  height: 55%;
  
  
}
}
@media only screen and (max-width: 800px){
  .wrap--fromregis {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    align-items: center;
    padding-left: 0;
}
  .wrap--fromregis > form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
  }

  .hero--wrap > img {
    padding: 30px 0;
    width: 100%;
}


}